body{
    background-color: wheat;
}

#secretB{
    display:inline;
}

#customH1{
    display:inline;
}

/*header{

}

h1{

}
*/

/* Minesweeper stuff */
.minesweeper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

