<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shingles's amazing website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1 style="display:inline;">Shingles's Awesome Website</h1>
        <nav class="topnav">
            <a class="active" href="/">Home</a>
            <a class="active" href="message">Leave a Message</a>
            <a class="active" href="live_canvas">Pixel Canvas</a>
            {% if session.get('username') %}
                <a class="active" href="{{ url_for('logout') }}">Logout ({{ session['username'] }})</a>
            {% else %}
                <a class="active" href="login">Login</a>
            {% endif %}
          </nav>
        </div>
    </header>

    Admin!
    <form id="userInfo" onsubmit="fetch_user(event)">
        <h2>User Lookup:</h2>
        <input type="text" id="loginUsernameInput" placeholder="Enter ID...">
        <button type="submit">Submit</button>
    </form>

    <div id="userDisplay"></div>
    
    <script src="static/js/admin.js"></script>
</body>
</html>

