{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

    <h2>Admin!</h2>

    <form id="userInfo">
        <h3>User Lookup:</h3>
        <input type="text" id="IDInput" placeholder="Enter ID...">
        <input type="text" id="loginUsernameInput" placeholder="Enter Username...">
        <button type="submit">Submit</button>
    </form>

    <div id="userDisplay"></div>

    <div id="allUsers">
        <h3>All users:</h3>
        {% for user in users %}
            <div>{{ user['username'] }}</div><br>
        {% endfor %}
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cross_site_functions.js') }}"></script>
{% endblock %}
