<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shingles's amazing website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>Shingles Awesome Website</h1>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a class="active" href="message.html"> Leave a Message</a>
            <a class="active" href="canvas.html">Pixel Canvas</a>
        </div>
    </header>
    
    <h2>Empty for now... But be expecting a pixel canvas soon :3</h2>

    <script src="static/js/pixel_canvas.js"></script>
</body>
</html>

