{% extends "base.html" %}

{% block title %}Shingles's amazing website{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    
    {% if session.get('accounttype') == 'admin' %}
        <a class="active" href="admin" style="margin-top: 1rem;">Admin panel</a>
    {% endif %}
    <div class="introduction">
        <img src="{{ url_for('static', filename='images/spooks.png') }}" alt="Shingles" width="400" height="400" title="Art by @NimbusBean on telegram :)">
        <h2>Welcome to my website!</h2>
        Welcome to my little corner of the internet. This is a simple pixel art sharing social media type thing. Enjoy :)<br>
        
        <br>
        25/07/2025; I made a massive update to the website backend making it a lot easier to manage, now I should be motivated to work on it more! :)
    
    </div>

    <footer style="margin-top: 2rem;">
        <a href="https://rezzy.fr" target="_blank">
            <img alt="banner2" src="{{ url_for('static', filename='images/banner2.gif') }}">
        </a>
        <a href="https://shingles.lol" target="_blank">
            <img alt="Unknown :]" src="{{ url_for('static', filename='images/UnknownTurnShrunk.gif') }}">
        </a>
        <a href="https://vapore.online/" target="_blank">
            <img alt="Vapore" src="{{ url_for('static', filename='images/vapore.png') }}">
        </a>
    </footer>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/cross_site_functions.js') }}"></script>
{% endblock %}
