<!DOCTYPE html>
<html lang="en">


<head>
    <title>Shingles's amazing website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <header>
        <h1 style="display:inline;">Shingles's Awesome We</h1><h1 style="display:inline;" onclick="incrementBClicks()">b<h1 style="display:inline;">site</h1>
        <nav class="topnav">
            <a class="active" href="/">Home</a>
            <a class="active" href="message">Leave a Message</a>
            <a class="active" href="live_canvas">Pixel Canvas</a>
            {% if session.get('username') %}
                <a class="active" href="{{ url_for('logout') }}">Logout ({{ session['username'] }})</a>
            {% else %}
                <a class="active" href="login">Login</a>
            {% endif %}
        </nav>
    </header>
    
<div class="introduction">
    <img src="/static/images/spooks.png" alt="Shingles" width="400" height="400" title="Art by @NimbusBean on telegram :)">
    <h2>Welcome to my website!</h2>
    This website refreshes after 15 minutes of inactivity, that means messages and drawings will be wiped! (For now) <br>
    I am currently in the process of adding an account system, as well the ability to save pixel canvas creation to your account and share them with others.<br> Stay tuned!
</div>

{% if session.get('accounttype') == 'admin' %}
    <a class="active" href="admin">Admin panel</a>
{% endif %}
    
<!-- keep content above :)-->
<footer>
    <a href="https://rezzy.fr" target="_blank">
        <img alt="banner2" src="static/images/banner2.gif">
    </a>
    
    <a href="https://shingles.lol" target="_blank">
        <img alt="Unknown :]" src="static/images/UnknownTurnShrunk.gif">
    </a>
    
</footer>

<script src="static/js/script.js"></script>
</body>
</html>