{% extends "base.html" %}

{% block title %}Shingles's Amazing Website{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}">
{% endblock %}

{% block content %}

    <div id="tooltip"></div>

    <div id="canvasWrapper">
        <div id="canvasContainer">
            <canvas id="canvas" width="750" height="750"></canvas>
            <div id="guide"></div>
        </div>
    </div>

    <!-- Controls Below -->
    <div class="control-panel">

        <div>
            <label for="colourInput">Set Colour</label><br />
            <input type="color" id="colourInput" />
        </div>

        <div>
            <label for="toggleGuide">Show Guide:</label><br />
            <input type="checkbox" id="toggleGuide" checked />
        </div>

        <div class="preset-colours">
            <button class="colour-btn" data-colour="#e60000" style="background:#e60000;"></button>
            <button class="colour-btn" data-colour="#e69100" style="background:#e69100;"></button>
            <button class="colour-btn" data-colour="#e6e600" style="background:#e6e600;"></button>
            <button class="colour-btn" data-colour="#00cc00" style="background:#00cc00;"></button>
            <button class="colour-btn" data-colour="#0000e6" style="background:#0000e6;"></button>
            <button class="colour-btn" data-colour="#43006f" style="background:#43006f;"></button>
            <button class="colour-btn" data-colour="#df6fdf" style="background:#df6fdf;"></button>
            <button class="colour-btn" data-colour="#000000" style="background:#000000;"></button>
            <button class="colour-btn" data-colour="#ffffff" style="background:#ffffff;"></button>

            Eyedropper = ctrl + left click :)<br>
            Be good people - Shingles
        </div>

    </div>

    <footer>
        {% if session.get('accounttype') == 'admin' %}
            <button id="clearCanvasBtn">Clear Canvas</button>
        {% endif %}
    </footer>

{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/live_pixel_canvas.js') }}"
            defer>
    </script>
{% endblock %}