<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shingles's amazing website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>Shingles Awesome Website Login</h1>
    </header>


    <form id="passwordForm" onsubmit="attempt_login(event)">
        <input type="password" id="passwordInput" placeholder="Enter password..." required>
        <button type="submit">Submit</button>
    </form>

    <script src="static/js/script.js"></script>
</body>
</html>

