{% extends "base.html" %}

{% block title %}Shingles's Amazing Website{% endblock %}

{% block content %}

    <form id="loginForm">
        <h2>Login:</h2>

        <input
            type="text"
            id="loginUsernameInput"
            placeholder="Enter Username..."
        >

        <input
            type="password"
            id="loginPasswordInput"
            placeholder="Enter password..."
            required
        >

        <button type="submit">Submit</button>
    </form>

    <br>

    <form id="registerForm">
        <h2>Register:</h2>

        <input
            type="text"
            id="registerUsernameInput"
            placeholder="Enter Username..."
            required
        >

        <input
            type="password"
            id="registerPasswordInput"
            placeholder="Enter password..."
            required
        >

        <button type="submit">Submit</button>
    </form>

{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/login_handling.js') }}"></script>
{% endblock %}