<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shingles's amazing website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1 style="display:inline;">Shingles's Awesome Website</h1>
        <hr class="header-separator"/>
        <nav class="topnav">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a class="active" href="message">Leave a Message</a></li>
                <li><a class="active" href="live_canvas">Pixel Canvas</a></li>
                <li>
                {% if session.get('username') %}
                    <a class="active" href="{{ url_for('logout') }}" onclick="return confirmLogout()">Logout ({{ session['username'] }})</a>
                    <script>
                        function confirmLogout() {
                            return confirm("Are you sure you want to log out?");
                        }
                    </script>
                {% else %}
                    <a class="active" href="login">Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>



    <form id="loginForm" onsubmit="attempt_login(event)">
        <h2> Login:</h2>
        <input type="text" id="loginUsernameInput" placeholder="Enter Username...">
        <input type="password" id="loginPasswordInput" placeholder="Enter password..." required>
        <button type="submit">Submit</button>
    </form>
    <br>
    <form id="registerForm" onsubmit="register_account(event)">
        <h2>Register:</h2>
        <input type="text" id="registerUsernameInput" placeholder="Enter Username..." required>
        <input type="password" id="registerPasswordInput" placeholder="Enter password..." required>
        <button type="submit">Submit</button>

    <script src="static/js/login_handling.js"></script>
</body>
</html>

