<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shingles's amazing website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>Shingles Awesome Website</h1>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a class="active" href="message.html">Leave a Message</a>
        </div>
    </header>

    <h2>Leave a Message</h2>

    <form id="commentForm" onsubmit="add_message(event)">
        <textarea id="nameInput" placeholder="Your name..." required></textarea>
        <textarea id="messageInput" placeholder="Your message... :)" required></textarea>
        <button type="submit">Submit</button>
    </form>

    <h4 id="successMessage" style="display: none;">Message successfully added!</h4>

    <h2>Messages:</h2>
    <ul id="messageList"></ul>


    <footer>
        {% if not session.get('admin') %}
            <a href="login.html">Secret Shingle Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}

        {% if session.get('brute') %}
            <a href="{{ url_for('exit_brute') }}">Exit brute mode</a>
        {% endif %}
    </footer>
    <script src="static/js/script.js"></script>
</body>
</html>

