<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shingles's amazing website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <h1>Shingles Awesome Website</h1>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a class="active" href="message.html">Leave a Message</a>
        </div>
    </header>

    <h2>Leave a Message</h2>

    <form id="commentForm" onsubmit="add_message(event)">
        <textarea id="nameInput" placeholder="Your name..." required></textarea>
        <textarea id="messageInput" placeholder="Your message... :)" required></textarea>
        <button type="submit">Submit</button>
    </form>

    <h2>Messages:</h2>
    <ul id="messageList">
        {% for msg in messages %}
            <li>{{ msg.username }}: {{ msg.content }}</li>
        {% endfor %}
    </ul>

    <script src="static/js/script.js"></script>
</body>
</html>
