<!-- templates/topnav.html -->
<header>
    <nav class="topnav">
        <span class="site-title">Shingles's Awesome Website</span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="homepage">Live Chat & Draw</a></li>
            <li><a href="canvas">Pixel Art Sharing</a></li>
            {% if session.get('username') %}
            <li><a href="/user?id={{ session['userid'] }}">My Profile</a></li>
            <li><a class="logout-link" href="#">Logout ({{ session['username'] }})</a></li>
            {% else %}
            <li><a href="login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

