{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile - Shingles's Amazing Website{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userprofile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}">
{% endblock %}

{% block content %}

    <h1>Welcome to {{ user.username }}'s profile!</h1>

    <p>User ID: {{ user.id }}</p>
    <p>Account Type: {{ user.userType }}</p>
    <p>Creation date: {{ user.creationTime }}</p>

    {% if session.get('userid') == user.id %}
        <button id="resetPasswordButton" class="profile-action-button">
            Reset Password
        </button>
    {% endif %}

    <h3>Created drawings</h3>

    <p>Created Drawings: {{ user.creationsIDs }}</p>

    <div id="drawings"></div>

    <input type="hidden" id="loginUsernameInput" value="{{ user.id }}">

{% endblock %}

{% block extra_scripts %}
    <script type="module"
            src="{{ url_for('static', filename='js/userpage.js') }}">
    </script>
{% endblock %}