<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ user.username }}'s Profile - Shingles's Amazing Website</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <header>
        <h1 style="display:inline;">Shingles's Awesome Website</h1>
        <hr class="header-separator"/>
        <nav class="topnav">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a class="active" href="message">Leave a Message</a></li>
                <li><a class="active" href="live_canvas">Pixel Canvas</a></li>
                <li>
                {% if session.get('username') %}
                    <a class="active" href="{{ url_for('logout') }}" onclick="return confirmLogout()">Logout ({{ session['username'] }})</a>
                    <script>
                        function confirmLogout() {
                            return confirm("Are you sure you want to log out?");
                        }
                    </script>
                {% else %}
                    <a class="active" href="login">Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
        </nav>
    </header>

    <h1>Welcome to {{ user.username }}'s profile!</h1>
    <p>User ID: {{ user.id }}</p>
    <p>Account Type: {{ user.userType }}</p>
    <p>Creation date: {{ user.creationTime }}</p>

    <h3> Created drawings </h3>
    <p>Created Drawings: {{ user.creationsIDs }}</p>
    <div id="drawings" class="drawing-row"></div>

    <input type="hidden" id="loginUsernameInput" value="{{ user.id }}">

    <script src="static/js/userpage.js"></script>

</body>
</html>
