<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ drawing.piece_name }} by {{ drawing.username }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    
</head>
<body>
    <header>
        <h1 style="display:inline;">Shingles's Awesome Website</h1>
        <hr class="header-separator"/>
        <nav class="topnav">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a class="active" href="message">Leave a Message</a></li>
                <li><a class="active" href="canvas">Pixel Canvas</a></li>
                <li>
                {% if session.get('username') %}
                    <a href="/logout" class="active logout-link">Logout ({{ session['username'] }})</a>
                {% else %}
                    <a class="active" href="login">Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <h1>{{ drawing.piece_name }}</h1>
    
    <canvas id="drawingCanvas" width="500" height="500"
        data-drawing-content='{{ drawing_content_json | tojson | safe }}'></canvas>
    
    <h3>by <a href="/user?id={{ drawing.user_id }}">{{ drawing.username }}</a></h3>
    {% if session_accounttype == 'admin' or session_userid == drawing.user_id %}
        <form action="{{ url_for('api_bp.delete_drawing', drawing_id=drawing.id) }}" method="POST">
            <button type="submit">Delete Drawing</button>
        </form>
    {% endif %}

    <script src="static/js/drawing_viewer.js"></script>
    <script src="static/js/cross_site_functions.js"></script>
</body>
</html>
