<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ drawing.piece_name }} by {{ drawing.username }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1 style="display:inline;">Shingles's Awesome Website</h1>
        <nav class="topnav">
            <a class="active" href="/">Home</a>
            <a class="active" href="message">Leave a Message</a>
            <a class="active" href="live_canvas">Pixel Canvas</a>
            {% if session.get('username') %}
                <a class="active" href="{{ url_for('logout') }}">Logout ({{ session['username'] }})</a>
            {% else %}
                <a class="active" href="login">Login</a>
            {% endif %}
        </nav>
    </header>

    <h1>{{ drawing.piece_name }}</h1>
    
    <canvas id="drawingCanvas" width="500" height="500"></canvas>
    
    <script>
        window.onload = function() {
            const canvas = document.getElementById("drawingCanvas");
            const ctx = canvas.getContext("2d");
            
            const drawingContent = {{ drawing_content_json | tojson }};

            ctx.fillStyle = '#ffffff';
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            // Assuming 50x50 grid
            const cellPixelLength = canvas.width / 50;

            drawingContent.forEach(({x, y, colour}) => {
                ctx.fillStyle = colour;
                ctx.fillRect(x * cellPixelLength, y * cellPixelLength, cellPixelLength, cellPixelLength);
            });
        };
    </script>
    
    <h3>by <a href="/user?id={{ drawing.user_id }}">{{ drawing.username }}</a></h3>
</body>
</html>