{% extends "base.html" %}

{% block title %}{{ drawing.piece_name }} by {{ drawing.username }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">{{ drawing.piece_name }}</h1>
    
    <canvas id="drawingCanvas" width="500" height="500"
        data-drawing-content='{{ drawing_content_json | tojson | safe }}'></canvas>
    
    <h3>by <a href="/user?id={{ drawing.user_id }}">{{ drawing.username }}</a></h3>
    
    {% if session_accounttype == 'admin' or session_userid == drawing.user_id %}
        <form action="{{ url_for('singeplayer_canvas_bp.delete_drawing', drawing_id=drawing.id) }}" method="POST">
            <button type="submit">Delete Drawing</button>
        </form>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/drawing_viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cross_site_functions.js') }}"></script>
{% endblock %}